
.accordion_checkbox:checked ~ .accordion_content {
    display: block;
}

    
/* 
* ----------- HOME <--> CPT ------------------------------------------------------------------------------------------------
*/
/* .breadcrumbs > .breadcrumb_cpt:before, */
.breadcrumbs > .breadcrumb_top:before,
.breadcrumbs > .breadcrumb_post:before,
.breadcrumbs > .breadcrumb_sub:before {
    content: "";
    width: 2.5rem;
    position: absolute;
    border-top: dashed #D6D3D1 1px;
    left: -2.5rem;
    top: 1.1rem;
}	
